<?php /* @var $block \Pointspay\Pointspay\Block\System\Config\Collect */ ?>
<?php /* @var $escaper \Magento\Framework\Escaper */ ?>
<?php
if (!isset($escaper)) {
    $escaper = $block;
}
?>
<script>
    require([
        'jquery',
        'Pointspay_Pointspay/js/pointspay-storage',
        'mage/storage',
        'mage/cookies',
        'prototype',
    ], function (jQuery, pointspayStorage) {

        var collectSpan = jQuery("#collect_span_<?= $escaper->escapeHtmlAttr($block->getTranstlitedName())?>");
        jQuery("#<?= $escaper->escapeHtmlAttr($block->getTranstlitedName())?>").click(function () {
            collectSpan.find('.collected').hide();
            collectSpan.find('.processing').show();
            jQuery("#message_span_<?=$escaper->escapeHtmlAttr($block->getTranstlitedName())?>").text('Uploading');

            serviceUrl = "<?= $escaper->escapeUrl($block->getActionUrl()) ?>?<?= http_build_query(['form_key' => $block->getFormKey()])?>";

            let promise = jQuery.ajax({
                url: serviceUrl,
                type: 'post',
                cache: false,
                data: {form_key: window.FORM_KEY},
                contentType: 'application/json',
                // beforeSend: function (xhr, ajax) {
                //     //Empty to remove magento's default handler
                // },
                xhrFields: {
                    withCredentials: true
                }
            });

            function toggleAutoExpandByDefault(){
                pointspayStorage.setData('openByDefault', true);
            }

            promise.done(function () {
                collectSpan.find('.processing').hide();
                collectSpan.find('.collected').show();
                jQuery("#message_span_<?=$escaper->escapeHtmlAttr($block->getTranstlitedName())?>").text('Successful. Reloading..');
                toggleAutoExpandByDefault();
                window.location = "<?= $escaper->escapeUrl($block->getReturnUrl()) ?>";
            }).fail(function () {
                collectSpan.find('.processing').hide();
                collectSpan.find('.collected').show();
                jQuery("#message_span_<?=$escaper->escapeHtmlAttr($block->getTranstlitedName())?>").text('Something went wrong.');
                toggleAutoExpandByDefault();
                window.location = "<?= $escaper->escapeUrl($block->getReturnUrl()) ?>";
            });

        });
    });
</script>

<?= $block->getButtonHtml() ?>
<br/>
<p class="note">
<span><?= __('Pay attention: This button will also flush the Configuration Cache') ?></span>
</p>
<span class="collect-indicator" id="collect_span_<?= $escaper->escapeHtmlAttr($block->getTranstlitedName()) ?>">
    <img class="processing" hidden="hidden" alt="Collecting" style="margin:0 5px"
         src="<?= $escaper->escapeUrl($block->getViewFileUrl('images/process_spinner.gif')) ?>"/>
    <img class="collected" hidden="hidden" alt="Collected" style="margin:-3px 5px"
         src="<?= $escaper->escapeUrl($block->getViewFileUrl('images/rule_component_apply.gif')) ?>"/>
    <span id="message_span_<?= $escaper->escapeHtmlAttr($block->getTranstlitedName()) ?>"></span>
</span>
