<?php


// @codingStandardsIgnoreFile

/**
 * @var $block \Pointspay\Pointspay\Block\Info\Virtual
 * @var $escaper \Magento\Framework\Escaper
 */
if (!isset($escaper)) {
    $escaper = $block;
}
$paymentInfo = $block->getInfo();
?>
<span><?= $escaper->escapeHtml(__('The payment has been completed with the following method:')); ?></span>
<br/>
<?php if ($block->getInfo()->getMethod() === \Pointspay\Pointspay\Api\Data\PointspayGeneralPaymentInterface::POINTSPAY_REQUIRED_SETTINGS): ?>
    <span><strong><?= $block->getSubPaymentTitle($block->getInfo()->getMethod()) ?></strong></span>
<?php else: ?>
    <span><strong><?= $block->getSubPaymentTitle($block->getInfo()->getMethod()) ?></strong> by Pointspay</span>
<?php endif; ?>
<?= $escaper->escapeHtml($block->getChildHtml()); ?>
